@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.header-page-div {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: 100vw;
  align-items: center;
  --header-text-color:rgb(54, 54, 54);
  --hero-background-color:rgba(190, 190, 190, 0.2);
  --hero-background-color-darker:rgba(190, 190, 190, 0.5);
  --hero-button-color: rgb(54, 54, 54);
  --hero-sub-header-fontsize: 3.625rem;
  --hero-header-fontsize: 1.575rem;
  --hero-p-fontsize: 1.375rem;
  --small-font-size: 1.075rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  
}
:root{
  --body-font: "Poppins", sans-serif;
  --root-background:rgb(255, 255, 255);
  --root-text-color:rgb(54, 54, 54);
}
.header-container-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 32px;
}
.text-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

/* table container */
.table-component-wrap {
  display: flex;
  flex-direction: column;
  width: 65vw;
  align-self: center;
  /* border-top: 2px solid var(--header-text-color);
  border-bottom: 2px solid var(--header-text-color); */
  border: 2px solid var(--header-text-color);
  padding: 34px;
  position: relative;
}
.tables-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
}

.tables-container .skill-table {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-top: 22px;
}
/* table component */
  .skill-table .table-header {
  border-radius: 15px 15px 0 0;
  /* background: linear-gradient(#1f79e3, #3e83d4); */
  display: inline-flex;
  justify-content: flex-start;
  font-weight: 500;
  border: none;
  padding-bottom: 0;
  margin-top: 1.5rem;  
  margin-bottom: 1rem;
}
.table-component-wrap h3 {
  color: var(--hero-button-color);
  background-color: var(--root-background);
  font-size: var(--hero-header-fontsize);
  line-height: 1.2222222222222223;
  align-self: start;
  position: absolute;
  top: -1.5rem;
  left: 3rem;
  margin: 0;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.tables-container .table-content {
  border: none;
  display: flex;
  flex-direction: row;
}

.tables-container li {
  color: var(--root-background);
  border-radius: 10%;
  padding: 5px;
  list-style:none;
  text-align: center;
  background-color: var(--hero-button-color);
  margin: 2px;
  width: fit-content;
}
.tables-container th {
  font-size: 18px;
}
.table-content {
  align-self: center;
  font-size: 14px;
}



/* // */

/* header text */
.banner-text-div {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 55vh;
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
  position: relative;
  background-color: var(--hero-background-color-darker);
  margin-bottom: 2rem;
}
.banner-text-component-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 70vw;
}

.banner-text-wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
.banner-text-wrapper > * {
  width: fit-content;
}
.banner-text-items{
  display: flex;
  flex-direction: column;
}

.banner-text-div h3 {
  margin:0;
  font-family: var(--body-font);
  font-size: var(--hero-sub-header-fontsize);
  color: var(--header-text-color);
}
.banner-text-div h2 {
  font-size: var(--hero-header-fontsize);
  line-height: 1.1142857142857143;
  color:var(--header-text-color);
  font-weight: var(--font-normal);
}
#line-element{
  width: 4.5rem;
  background-color: var(--header-text-color);
  border: 1px solid;
  height: 0.001rem;
  align-self: center;  
  margin-right: 1rem;
}
.banner-text-div p {
  font-weight: 300;
  width: 55%;
  padding-left: 0;
  margin-left: 0;
  color:var(--header-text-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-normal);
}
span.highlight{
  font-weight: var(--font-semi-bold);
  color: black;
}

.banner-text,
#aboutmeBtn-wrapper {
  display: inline-flex;
}

/* 
buttons */
.main-buttons a{
  text-decoration: none;
}
.main-buttons button {
  font-family: var(--body-font);
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 1.5;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 12px;
  background-color: var(--hero-button-color);
  color: white;
  text-align: center;
  align-items: center;
  position: relative;
}
#btn-arrow-element{
  align-self: center;
  display: flex;
  position: absolute;
  right: 0;
  padding-right: 0.8rem;
}
#btn-arrow-element svg{
  align-self: center;
  text-align: center;  
}

#aboutme-btn:hover {
  color: #343434;
  cursor: pointer;
  transition: 0.2s;
  background: rgb(255, 255, 255);
  opacity: 0.55;
}
div#picture{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#picture img {
  width: 305px;
  height: 305px;
  border-radius: 0% 0% 35% 35%;
}
@media (max-width: 996px) {
  .banner-text-component-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    height: auto;
  }
  div.banner-text-wrapper {
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .banner-text-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
  #picture img {
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    top:6rem;
    align-self: center;
  }
  h2#banner-header-text {
    font-size: var(--hero-header-fontsize);
    margin-top: 0.2rem;
  }
  #line-element{
    display: none;
  }
  h3#banner-pre-header-text {
    font-size: 18px;
    padding: 4px;
    color: black;
  }
  p#banner-content-text {
    text-align: center;
  }
  .skill-table .table-header {
    width: fit-content;
  }
 
}
@media (max-width: 420px) {
  div.banner-text-wrapper{
    align-self: center;
  }
  #picture img{
    height: 11rem;
    width: 11rem;
  }
  #banner-content-text{
    width: 90vw;
  }
  .main-buttons button{
    border-radius: 20rem;
    /* main styling at app.css */
  }
  #btn-arrow-element{
    display: none;
  }
  .tables-container .table-content{
    display: flex;
    flex-wrap: wrap;   
  }
  .table-component-wrap{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
  }
  .tables-container .skill-table{
    padding-top: 5px;
  }

  
}
